@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import "../node_modules/bootstrap/scss/bootstrap.scss";

/* Variables */

$color-light: #fff;
$color-dark: #444;
$font-logo: 'Sacramento', cursive;
$font-text: 'Roboto', sans-serif;
$font-header: 'Poppins', sans-serif;
$font-color-light: #8f9bad;
$font-color-dark: #203656;
$color-main: #fe4f70;
$background-gradient: linear-gradient(to right, #fe4f70 0%, #ffa387 51%, #fe4f70 100%);
$transition: all .2s ease;

/* Global */


*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: $font-text;
  color: $font-color-light;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.7;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.wrapper {
  display: flex;
}

a, h1, h2, h3, h4, p {
  &::selection {
    color: #fff;
    background: $color-main;
  }
}

a {
  text-decoration: none;
  color: inherit;
  transition: $transition;

  &:hover {
    color: $color-main;
  }
}

ul {
  list-style-type: none;
  padding-inline-start: 0;
}

h2 {
  margin-bottom: 30px;
}

h3 {
  position: relative;
}

h3:after, h2:after {
  content: url("../images/snake.svg");
  position: absolute;
  width: 50px;
  height: 20px;
  bottom: -5px;
  left: 0;
}

.pills {
  background: $background-gradient;
  color: white;
  cursor: pointer;
  background: $background-gradient;
  background: -webkit-linear-gradient(bottom, #ffa387 0%, #fe4f70 51%, #ffa387 100%);
  background-size: auto 200%;
  border-radius: 20px;
}

.btn {
  padding: 5px 12px;
  border-radius: 20px;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  transition: $transition;

  &:hover {
    background: $background-gradient;
    background: -webkit-linear-gradient(bottom, #ffa387 0%, #fe4f70 51%, #ffa387 100%);
    background-size: auto 200%;
    color: white;
    border: none;
  }
}

.card {
  border: 1px solid #ebebeb;
  border-radius: 10px;
  padding: 20px;
}

.logo {
  font-weight: bold;
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: $font-color-dark;
  cursor: pointer;

  span {
    color: $color-main;
    font-size: 50px;
  }
}

.post {
  display: none;

  &.active {
    display: block;
  }
}

.post-text {
  width: 72%;

  h4 {
    font-size: 15px;
    color: $font-color-dark;
    margin: 0;
  }

  p {
    font-size: 13px;
    color: #B2B9C2;
    margin: 8px 0 0 0;

  }
}

section {
  margin-top: 100px;
}

.section-title {
  color: $font-color-dark;
  position: relative;

  & ~ svg {
    transform: translateY(-25px);
  }
}

.author-image {
  background-size: cover;
  background-position: center;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 30px;
  display: block;
}

.social-list {
  list-style-type: none;

  .social-icon {
    display: inline-block;
    margin-right: 15px;
    color: $font-color-dark;
    cursor: pointer;
  }
}

.tag-list {
  text-align: left;

  li {
    padding: 5px 15px;
    border: 1px solid #dbdbdb;
    display: inline-block;
    border-radius: 20px;
    margin-right: 5px;
    font-size: 14px;
    margin-bottom: 5px;
  }
}

.dot {
  background-color: $color-main;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  margin: 0 15px;
}


.card-inspiration {
  cursor: pointer;

  .figure {
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    color: white;
    z-index: -1;
    overflow: hidden;
    box-shadow: rgba(32, 54, 86, 0.3) 0 8px 20px 0;
    cursor: pointer;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(32, 54, 86, .5);
    }

    .card-inner {
      position: absolute;
      bottom: 40px;
      left: 40px;
      z-index: 5;

      h1 {
        font-size: 32px;
        margin: 30px 0 15px 0;
      }

      h1, h4 {
        text-shadow: 1px 3px 6px rgb(66 68 90);
      }

      .btn {
        font-size: 13px;
      }

      p {
        font-size: 14px;
        color: #B2B9C2;
        letter-spacing: 1.5px;

        span {
          margin-right: 20px;
          position: relative;

          &:first-child:after {
            content: '';
            width: 4px;
            height: 4px;
            border-radius: 50%;
            border: 2px solid #B2B9C2;
            position: absolute;
            top: 45%;
            right: -15px;
          }
        }
      }
    }
  }
}

/* Navigation */

nav {
  padding: 20px 0;

  .wrapper {
    align-items: center;
    justify-content: space-between;

    ul {
      list-style-type: none;
      margin-bottom: 0;

      li.nav-item {
        display: inline-block;
        margin-right: 20px;
        font-weight: 400;
        cursor: pointer;
        border-radius: 22px;
        padding: 8px 15px;
        transition: $transition;

        &:hover {
          background: $background-gradient;
          background: -webkit-linear-gradient(bottom, #ffa387 0%, #fe4f70 51%, #ffa387 100%);
          background-size: auto 200%;
          border: none;

          a {
            color: white;
          }
        }
      }
    }

    .search, .burger-icon {
      height: 40px;
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
      -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
      box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
    }

    .burger-icon {
      margin-left: 10px;
      position: relative;
      display: none;

      &:after {
        content: '';
        position: absolute;
        width: 20px;
        height: 10px;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}


.titles {
  color: $font-color-dark;
  text-align: left;
  padding: 0;

  li {
    padding: 15px 0;
    border-width: 1px;
    border-style: solid;
    border-image: linear-gradient(to right, #dbdbdb, rgba(0, 0, 0, 0)) 100% 1;
    border-top: 0;

    .active {
      color: $color-main;
    }

    &:last-of-type {
      border: none;
    }

    i {
      color: $color-main;
      margin-right: 30px;
    }
  }
}

/* Header */
header {
  margin: 50px 0;

  .card-inspiration {
    height: 533px;
    width: 68%;

    .figure {
      background-image: url(../images/l1.jpeg);
      overflow: hidden;
    }
  }

  .promo-posts {
    width: 30%;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    margin-left: auto;
    padding: 25px;
    height: 533px;
    display: flex;
    flex-direction: column;

    .btn-wrapper {
      margin: 0 auto 10px auto;
      display: flex;
      justify-content: space-between;
      width: 100%;

      .btn {
        width: 48%;
        border: 1px solid #ededed;

        &.active {
          background: $background-gradient;
          background: -webkit-linear-gradient(bottom, #ffa387 0%, #fe4f70 51%, #ffa387 100%);
          background-size: auto 200%;
          color: white;
          border: none;
        }
      }
    }

    .post-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 100%;

      .item-post {
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 15px 0;
        cursor: pointer;

        &:hover h4 {
          color: $color-main;
        }

        .post-image {
          background-size: cover;
          background-position: center;
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }


        &:first-child .post-image {
          background-image: url(../images/i1.jpeg);
        }

        &:nth-child(2) .post-image {
          background-image: url(../images/i2.jpeg);
        }

        &:nth-child(3) .post-image {
          background-image: url(../images/i3.jpeg);
        }

        &:nth-child(4) .post-image {
          background-image: url(../images/i4.jpeg);
        }

        &:after {
          content: '';
          position: absolute;
          width: 100%;
          border-width: 1px;
          border-top: 0;
          border-style: solid;
          border-image: linear-gradient(to left, #dbdbdb, rgba(0, 0, 0, 0)) 100% 1;
          left: 0;
          bottom: 0;
        }

        &:last-child:after {
          border: none;
        }
      }
    }
  }
}

/* Blog */

.wrapper {
  justify-content: space-between;

  main {
    width: 68%;

    .titles-card {
      display: none;
    }

    /* Authors */

    .author-list {
      border: 1px solid #ededed;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 50px;

      ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        li {
          width: 49%;
          padding: 20px 10px 20px 0;
          display: flex;
          justify-content: space-between;
          align-items: center;

          &:hover h4 {
            color: $color-main;
          }

          &:first-child span.author-image {
            background-image: url(../images/a1.jpeg);

            &:after {
              content: '2'
            }
          }

          &:nth-child(2) span.author-image {
            background-image: url(../images/a2.jpeg);

            &:after {
              content: '7'
            }
          }

          &:nth-child(3) span.author-image {
            background-image: url(../images/i1.jpeg);

            &:after {
              content: '6'
            }
          }

          &:nth-child(4) span.author-image {
            background-image: url(../images/a3.jpeg);

            &:after {
              content: '12'
            }
          }

          .author-image {
            position: relative;
          }

          .author-image:after {
            content: '';
            color: #fff;
            display: block;
            border: solid 2px #fff;
            border-radius: 50%;
            font-size: 12px;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            height: 24px;
            line-height: 22px;
            left: 0;
            text-align: center;
            top: -10px;
            position: absolute;
            width: 24px;
            -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
            -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .15);
            box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
            background: #fe4f70;
            background: -webkit-linear-gradient(bottom, #fe4f70 0%, #ffa387 100%);
            background: linear-gradient(to top, #fe4f70 0%, #ffa387 100%);
            z-index: 1;
          }
        }
      }
    }

    /* Post */

    .post {
      min-height: 720px;

      &.active {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .post-author {
        display: flex;
        align-items: center;

        .author-image {
          background-image: url(../images/a1.jpeg);
        }

        p {
          margin: 0;
        }
      }

      .post-title {
        color: $font-color-dark;
        margin: 30px 0;
      }

      .post-tags strong {
        color: $font-color-dark;
      }
    }

    /* Inspiration */

    .inspiration {
      margin-top: 100px;

      & > .wrapper {
        align-items: center;
        justify-content: space-between;

        .nav-button .carousel-control-next, .nav-button .carousel-control-prev {
          position: relative;
          width: 40px;
          height: 40px;
          display: inline-block;
          border-radius: 50%;
          border: 1px solid #ededed;
          text-align: center;
          line-height: 40px;
          color: $font-color-dark;

          &:hover {
            color: $color-main;
          }
        }
      }

      .carousel-inner {

        .carousel-item {
          padding: 0 10px;

          .card-inspiration {
            width: 49%;
            height: 315px;
            margin-top: 30px;


            .figure {
              box-shadow: none;

              .card-inner {
                bottom: 0;
                left: 0;
                padding: 15px;

                p {
                  margin: 0;
                  color: #dbdbdb;
                }

                h4 {
                  font-size: 22px;
                  font-family: $font-header;
                  margin: 20px 0 15px 0;
                  line-height: 33px;
                }
              }
            }
          }

          &:first-child {

            .card-inspiration {

              &:first-child .figure {
                background-image: url(../images/i1.jpeg);
              }

              &:nth-child(2) .figure {
                background-image: url(../images/i2.jpeg);
              }
            }
          }

          &:nth-child(2) {

            .card-inspiration {

              &:first-child .figure {
                background-image: url(../images/i3.jpeg);
              }

              &:nth-child(2) .figure {
                background-image: url(../images/i4.jpeg);
              }
            }
          }

          &:nth-child(3) {

            .card-inspiration {

              &:first-child .figure {
                background-image: url(../images/in5.jpeg);
              }

              &:nth-child(2) .figure {
                background-image: url(../images/in6.jpeg);
              }
            }
          }
        }
      }
    }
  }

  aside {
    width: 30%;
    height: 500px;
    text-align: center;

    h2:after, h3:after {
      left: 50%;
      transform: translateX(-50%);
    }

    .about {
      background-image: url(../images/bg1.png);

      .logo {
        margin-bottom: 20px;
      }

      p {
        font-size: 15px;
        line-height: 26px;
      }
    }

    .card {
      margin-bottom: 50px;
    }

    .tag-clouds .section-title {
      margin-bottom: 40px;
    }
  }
}

/* Instagram section */

.instagram-images {
  margin: 100px 0;

  .container {
    position: relative;

    .btn {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border: none;
    }

    ul {
      display: flex;
      justify-content: space-between;
      padding: 0;
      margin: 0;

      li {
        width: 16.2%;
        position: relative;
        height: 200px;

        img {
          height: 100%;
          width: 100%;
          border-radius: 10px;
          object-fit: cover;
        }

        &:after {
          content: '';
          position: absolute;
          background-color: rgba(32, 54, 86, .2);
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          border-radius: 10px;
        }
      }
    }
  }
}

/* Footer */

footer {
  padding: 20px 0;
  border-top: 1px solid #ededed;
  color: $font-color-dark;

  .wrapper {
    align-items: center;

    .copyright {
      font-size: 15px;
    }

    .social-list li {
      margin-right: 10px;
    }

    a.btn {
      font-size: 14px;
      border: 1px solid #ededed;
      color: $font-color-dark;

      i {
        margin-right: 10px;
      }

      p {
        display: contents;
      }
    }
  }
}


/* @media Queries */

@media (max-width: 1170px) {
  nav {

    .social-wrapper {
      display: none
    }

    .wrapper {
      justify-content: space-between;
    }
  }
}

@media (max-width: 1000px) {
  header {

    .wrapper {
      flex-wrap: wrap;

      .card-inspiration, .promo-posts {
        width: 100%;
      }

      .promo-posts {
        margin-top: 50px;
        height: auto;
        padding-top: 30px;

        .post-wrapper {
          margin-top: 50px;
        }
      }
    }
  }
}

@media (max-width: 900px) {
  aside {
    display: none;
  }
  .wrapper main {
    width: 100%;

    .titles-card {
      display: block;
      margin-bottom: 50px;
    }
  }
}

@media (max-width: 750px) {
  nav .wrapper .burger-icon {
    display: block;
  }

  nav .nav-list, nav .search.pills {
    display: none;
  }

  .instagram-images .container ul li {
    width: 33%;

    &:nth-child(odd) {
      display: none;
    }
  }

  footer {
    .wrapper {
      flex-direction: column-reverse;

      a.btn {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 15px;

        i {
          margin: 0;
        }

        p {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 650px) {
  .wrapper .author-list .authors ul li {
    width: 100%;
  }
}


@media (max-width: 450px) {

  .post-author {
    span.dot, p:last-child {
      display: none;
    }
  }

  .wrapper main .carousel-inner .carousel-item .card-inspiration {
    width: 100% !important;

    &:nth-child(2) {
      display: none;
    }
  }

}